<Input
  id={{this.field.id}}
  @value={{this.field.value}}
  @type="email"
  tabindex={{this.field.tabindex}}
  class={{this.fieldClass}}
  placeholder={{this.field.translatedPlaceholder}}
  autocomplete="email"
/>
{{#if this.emailInvalid}}
  <div class="wizard-field-email-error">
    Please enter an email from an allowed domain.
  </div>
{{/if}}
